/*-----BG SECTION----*/
body{
    background-image: url(../media/mont-luna.jpg);
}
.bg-folder{
    background-image:url(../media/data-storage.png);
}

.bg-image{
    background-image:url(../media/); /*-----Je ne peux plus DL aujourd'hui sur Flaticon xD-----*/
}

.bg-doc-html{
    background-image:url(../media/html.png);
}

.bg-doc-css{
    background-image:url(../media/css.png);
}

.bg-doc-js{
    background-image:url(../media/js.png);
}

.bg-doc-php{
    background-image:url(../media/php.png);
}

.bg-leaf{
    background-image: url(../media/background.jpg);
}

.footer{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

.h-70-px{
    min-height: 70px;
}
