/*-----HEIGHT AND WIDTH SECTION-----*/

.min-h-100vh{
    min-height: 100vh;
}

.h-100pc{
    height: 100%;
}

/*-----BG SECTION----*/

.bg-mid-black{
    background-color: #00000093;
}

.h-70-px{
    min-height: 70px;
}